{{> nav/nav-block}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="row">
          <!--Displays reviews that are non spoilers-->
          <div class="col-md-6">
            <div class="review-feed">
              <ul>
                {{#each review}}
                {{#unless spoiler}}
                {{> reviews/reviews-block spoiler=true}}
                {{/unless}}
                {{/each}}
              </ul>
            </div>
          </div>
          <!--Hides reviews with spoilers, unless onclick event reveals these-->
          <div class="col-md-6">
            <div class="review-feed buryIt">
              <ul>
                {{#each review}}
                {{#if spoiler}}
                {{> reviews/reviews-block spoiler=false}}
                {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        <!--
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Your Name:</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="John Doe">
          </div>
          <div class="form-group">
            <label for="movies-seen">Movies Select:</label>
            <p><strong> Select the movies you've seen before. You may control-click (Windows) or command-click (Mac) to
                select more then one.</strong></p>
            <select multiple size="6">
              <option value="1">Some movie here</option>
              <option value="2">Some movie here</option>
              <option value="3">Some movie here</option>
              <option value="4">Some movie here</option>
              <option value="5">Some movie here</option>
            </select>
          </div>
          <button id="movies-submit" class="btn btn-primary float-right">Submit</button>
        </form>
        -->

        <li data-id="{{this.id}}" class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>
