<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{movies.title}}</h5>
          <div class="movie-menu">
            {{#each movie}}
            <img src="{{posterURL}}" class="" alt="Poster of {{title}}"></img>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>