<div class="rounded container" style="height:1000px; background-color:#232741; background-image: url(https://cdn.pixabay.com/photo/2015/12/09/17/12/popcorn-1085072_1280.jpg);">
<h1 style="padding: 10px; color: white; float:right; font: italic small-caps bold 40px cursive;">Moviews!</h1>

<form class="rounded" id="signup" name="signup" method="post" action="/signup" style="font: italic small-caps bold 16px cursive; position: fixed; top: 50%; left: 50%; margin: -100px 0 0 -100px; padding: 10px; background-color:white;">
  <label for="name">Name</label>
  <input class="form-control text" name="name" type="text" />
  <label for="email">Email Address</label>
  <input class="form-control text" name="email" type="email" />
  <label for="password">Password</label>
  <input class="form-control text" name="password" type="password" />
  <input class="btn btn-danger" type="submit" value="Sign Up" />
</form>
<a href="/dashboard"><button style="margin: 1em; font: italic small-caps bold 16px cursive;;" class="btn btn-secondary">Or Sign In!</button></a>
</div>