<div class="rounded container" style="font: italic small-caps bold 16px cursive; height:1000px; background-color:#232741; background-image: url(https://cdn.pixabay.com/photo/2015/12/09/17/12/popcorn-1085072_1280.jpg);">
<h1 style="padding: 10px; color: white; float:right; font: italic small-caps bold 40px cursive;">Moviews!</h1>
<form class="rounded border border-warning" id="signin" name="signin" method="post" action="signin" style="position: fixed; top: 50%; left: 50%; margin: -100px 0 0 -100px; padding: 10px; background-color:white; background-image: url(../public/styles/img/slide1.jpg);">
  <label for="email">Email Address</label>
  <input class="form-control text" name="email" type="text" />
  <label for="password">Password</label>
  <input class="form-control text" name="password" type="password" />
  <input class="btn btn-danger" type="submit" value="Sign In" />
</form>
<a href="/signup"><button class="text-center btn btn-primary" style="margin: 1em; font: italic small-caps bold 16px cursive;">or Sign Up!</button></a>
</div>