{{#each Movies}}
<div class="card">
  <img class="card-img-top" action="/reviews/{{id}}" src="{{results.posterURL}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
  </div>
  <div class="card-footer">
    <small class="text-muted"></small>
  </div>
</div>
{{/each}}