
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <div class="movie-menu">

            <section class=“container”>
              <div class=“form-wrap>
                <h1> Write your review! </h1>
                <p> Remember to check whether or not it spoils the movie. </p>
                {{#each errors}}
                <div class=“error”>
                  <p>{{text}}</p>
                </div>
                {{/each}}

                <form class='new-review'>
                  <div class='input-group'>
                    <label for='title'>Review text</label>
                    <input type='text' name='title' class=“input-lg form-control” placeholder='eg. A miraculous fuckup'
                      maxlength=“1000” value='{{review}}'>
                  </div>
                  <div class='form-check'>
                    <input type='checkbox' name='form-check-input spoiler' value='{{spoiler}}' id='new-review-text'>
                    <label class='form-check-label' for='spoiler' id='new-review-spoiled'> Check if spoiler</label>
                  </div>
                  <button class="btn btn-danger">Submit your review</button>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>