@font-face {
  font-family: 'LineIcons';
  src:  url('../fonts/LineIcons.eot?tc3uo0');
  src:  url('../fonts/LineIcons.eot?tc3uo0#iefix') format('embedded-opentype'),
    url('../fonts/LineIcons.ttf?tc3uo0') format('truetype'),
    url('../fonts/LineIcons.woff?tc3uo0') format('woff'),
    url('../fonts/LineIcons.svg?tc3uo0#LineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lni-"], [class*=" lni-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LineIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lni-chevron-left-circle:before {
  content: "\e93b";
}
.lni-chevron-left:before {
  content: "\e93c";
}
.lni-chevron-right:before {
  content: "\e93e";
}
.lni-chevron-up-circle:before {
  content: "\e93f";
}
.lni-chevron-up:before {
  content: "\e940";
}
